.m-Raiders {
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
	.m-Raidersheader {
	    background: #fffefe;
	    height: .97rem;

		ul{
            @include border(1px 0 0 0, #d6d5d5);
            padding: .17rem 0 .09rem;
			color: #321e1e;
			font-size: .14rem;
			text-align: center;
			overflow: hidden;
			li {
			    @include flexbox();
			    @include flex-direction(column);
		        width: .85rem;
		        margin: 0 auto;
			    div{
			        width: 100%;
			        @include flexbox();
			        @include justify-content(space-around);
			        padding-bottom: .12rem;
			    }
			    span{
			        a{
			            color: #ff2d47;
			        }
			    }
//			    .active{
//                  color: #ff2d47;
//              }
			    em{
			        height: .03rem;
			        width: .38rem;
			        @include border-radius(.05rem);
			        background: #ff2d47;
			    }
			}
		}
		.m-search {
		    padding: 0 .1rem .07rem;
		    input{
		     width: 100%;
		     border: 0;
		     height: .3rem;
		     @include border-radius(.5rem);
		     text-align: center;
		     font-size: .12rem;
		     color: #8c7878;
		     background: #faf5f5 url(/img/nav_bar_icon_search_dark.png) no-repeat;
		     background-size: 4%;
		     background-position: 26% 50%;
		    }
		}
	}
	.m-Raiderscontent {
	    @include flex(1);
	    height: 100%;
        width: 100%;
        background: #faf5f5;
        overflow-y: scroll;
        >div{
            overflow: hidden;
            .m-Raiderscolumn{
                padding-bottom: .1rem;
                .m-RaiderscolumnList {
                    padding-left: .1rem;
                    overflow-x: scroll;
                    background: #fff;
                    height: 2.55rem;
                    >div{
                        width: 11.48rem;                
                        @include flexbox();
                        @include flex-wrap(wrap)
                        >div {
                            width: 2.87rem;
                            overflow: hidden;
                            padding-bottom: .1rem;
                            @include flexbox();
                            img{
                                width: 1.35rem;
                                height: .75rem;
                                padding-right: .1rem;
                                @include border-radius(.05rem)
                            }
                            >div{
                                @include flexbox();
                                @include flex-direction(column);
                                overflow: hidden;
                                span{
                                    display: block;
                                }
                                span:nth-of-type(1) {
                                    font-size: .14rem;
                                    height: .4rem;
                                    line-height: .4rem;
                                    padding-top: .05rem;
                                    color: #321e1e;
                                }
                                span:nth-of-type(2) {
                                    font-size: .11rem;
                                    color: #a09696;
                                }
                            }
                        }
                        >.clSpan{
                            display: block;
                            height: .33rem;
                            width: 1.28rem;
                            text-align: center;
                            line-height: .33rem;
                            border-radius: .5rem;
                            @include border(1px , #ff2d47);
                            color: #ff2d47;
                            margin-top: .2rem;
                            font-size: .14rem;
                        }
        
                    }
                } 
    	    }
    	    
    	    .m-Raidersnav {
                font-size: .14rem;
                color: #503c3c;
                padding: .15rem .1rem .15rem .1rem;
                background-color: #fefefe;
                @include flexbox();
                @include justify-content(space-between);
                overflow: hidden;
                div:nth-of-type(2) {
                    em{
                        height: .1rem;
                        width: .1rem;
                        background: url(/img/abc_ic_go_search_api_holo_light.png) no-repeat;
                        padding: .02rem .1rem;
                    }
                }
            }
            .m-Raidersother{
                background: #faf5f5;
                padding-bottom: .1rem;
            }
            .m-888{
                width: 100%;
                background: #fff;
                margin-bottom: .1rem;
                .m-666{
                    background: #fff;
                    .m-Raidersmore {
                        background: #fff;
                        width: 3.5rem;
                        margin: 0 auto;
                        @include flexbox();
                        @include flex-wrap(wrap);
                        @include justify-content(space-between);
                        
                        img{
                            height: 1rem;
                            width: 1.7rem;
                            padding-bottom: .1rem;
                        } 
                    }
                }
            }
            .m-888:nth-of-type(4){
                margin-bottom: 0;
            }
            
	    }
	}
	
}


.m-Singlecontent{
    @include flex(1);
    height: 100%;
    width: 100%;
    background: #faf5f5;
    overflow-y: scroll;
    .m-Singlelist{
        ul{
            background: #fff;
            width: .88rem;
            li{
                height: .48rem;
                background: #f6f6f7;
                i{
                    margin-right: .13rem;
                    display: inline;
                    height: 100%;
                    width: .03rem;
                    background: #ff2a44;
                    opacity: 0;
                }
            }
            .active{
                color: #ff2a44;
                background: #fff;
                i{
                    opacity: 1;
                }
            }
        }
    }
}