$base-color:#FF4258;
$font-color:#846F6F;
$base-background:#FAF5F5;
$base-font:0.13rem;

#root{
    width:100%;
    height:100%;
}

@font-face {
  font-family: 'yofont';
  src: url('/iconfont/iconfont.woff') format('woff'),
  url('/iconfont/iconfont.ttf') format('truetype')
}
@font-face {
  font-family: 'yofont';
  src: url('/iconfont/iconfont1.woff') format('woff'),
  url('/iconfont/iconfont1.ttf') format('truetype')
}
@font-face {
          font-family: 'yofont';
          src: url('/iconfont/iconfont3.woff') format('woff'),
          url('/iconfont/iconfont3.ttf') format('truetype')
        }
@font-face {
          font-family: 'yofont';
          src: url('/iconfont/iconfont4.woff') format('woff'),
          url('/iconfont/iconfont4.ttf') format('truetype')
        }

        
@font-face {
  font-family: 'yofont';
  src: url('/iconfont/iconfont123.woff') format('woff'),
  url('/iconfont/iconfont123.ttf') format('truetype')
}

.footer{
    width:100%;
    height:0.5rem;
    background: white;
   @include border(2px 0 0 0,#F5EDED);
    ul{
        width:100%;
        height: 0.5rem;
        @include flexbox();
        li{
            height:0.5rem;
            @include flex();
            text-align: center;
            a{
                display: block;
                width:100%;
                height:100%;
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                &.active{//可以像下面这样写active
                    
                    i{
                        color: #FF4258; 
                    }
                    span{
                        color: #FF4258; 
                    }
                }
                
                i{
                    font-size:0.24rem;
                    color: #B9AAAA;
                    line-height: 1.2;                    
                }
                    

                span{
                    font-size:0.12rem;
                    @include transform(scale(0.8));
                    color: black;

                }
            }
        }
        
    }
}

