@charset "UTF-8";

@import "../component/scroller";

.m-List{
     background: #f9f5f4;
      width: 100%;
       height: 100%;
      @include flexbox();
      @include flex-direction(column);
      
        @font-face {
              font-family: 'yofont';
              src: url('/iconfont/iconfont.woff') format('woff'),
              url('/iconfont/iconfont.ttf') format('truetype')
        }
        
        @import "../fragment/yo-header";
        
        @include yo-header(
              $bgcolor: #fefefe,
              $color: #3e151b,
              $font-size: .16rem,
              $item-ico-color: #66595b
        ){
          font-weight: normal;
          @include border(0 0 0 0,#fefefe);
          .regret {
                right: 0;
                left: auto;
          }
        }
        
             
        .list_top{
             height: .42rem;
              background: #fefefe;
              width: 100%;
              > div {
                width: 100%;
                height: 100%;
                @include flexbox();
                > a {
                  height: 100%;               
                  @include flexbox();
                  @include flex-direction(column);
                  @include justify-content(center);
                  @include flex();
                  text-align: center;
                  font-size: .13rem;
                  color: #3e151b;
                  &.active {
                    color: #fd224c;
//                  @include border(0 0 2px 0,#fd224c)
                       
                  }                 
                }
              }
           }
           .list_bgBox{
               @include flex();
                width: 100%;
                overflow: hidden;
//              height: 15rem;
//              overflow-y: scroll;
                .yo-scroller-a {
                  height: 100%;
                }
              .list_banner {
                    img {
                      width: 100%;
                      height: 100%;
                }
           }
           
            .list_box{
                margin-top: .1rem;
                padding: 0 .05rem;
              .list_con{                  
                  @include flexbox();
                  @include flex-wrap(wrap);
                  width:100%;
                  dl{            
                      height: 2.69rem;         
                      @include flexbox();
                      @include flex-direction(column);
                      padding:0 .05rem;
                      padding-bottom: .1rem;
                      width:50%;
                      background: #f9f5f4;
                      dt{
                          img {
                          width: 100%;                         
                        }
                      }
                      dd{
                          padding: .1rem .2rem .05rem .1rem;
                          background: #fff;
                          h1{
                              font-size: .12rem;
                              color: #333;                              
                          }
                          b{
                                  font-weight: normal;
                                  font-size: .1rem;
                                  color: #999;
                                  display: block;
                                  height: .35rem;
                              }
                          p{
                              font-size: .12rem;
                              color: #f92246;
                          }    
                      }                      
                  }               
              }                    
            }     
        }
}