.m-mine{
    width:100%;
    height:100%;
    @include flexbox();
    @include flex-direction(column);
    .mine_login{
        @include flex()
        width:100%;
        overflow: hidden;
        
    }
}
