.m-search{
    width:100%;
    height:100%;
//  @include flexbox();
//  @include flex-direction(column);
    .list_search{
        width:100%;
        height:100%;
        touch-action: none;
        background: #f9f5f4;
        
        .yo-list{
            @include flexbox();
            width:100%;
            @include flex-wrap(wrap);
//           background: #f9f5f4;
             @include border(0)
            li{
                width:50%;
                background: #f9f5f4;
//              @include flex-wrap(wrap);
//                 position:static;
            }
        }
        
        .search_section{
                        
          height: 2.69rem;         
          @include flexbox();
          @include flex-direction(column);
//        padding:0 .05rem;
          padding-bottom: .1rem;
          width:100%;
          background: #fff;
          .search_img{
              
              img {
              width: 100%;                         
            }
          }
          .search_description{
              padding: .1rem .2rem .05rem .1rem;
              background: #fff;
              h1{
                  font-size: .12rem;
                  color: #333;                              
              }
              h5{
                      font-weight: normal;
                      font-size: .1rem;
                      color: #999;
                      display: block;
                      height: .35rem;
                  }
              p{
                  font-size: .12rem;
                  color: #f92246;
              }    
          }                      
      }  
    }
    
}

